on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: maven:3.9-eclipse-temurin-21

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Permission for mvnw
        run: chmod +x ./mvnw

      - name: Build
        run: ./mvnw clean package

      - name: Test
        run: ./mvnw test

      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: ./target/*.jar
  sast:
    runs-on: ubuntu-latest
    needs: build

    container:
      image: semgrep/semgrep:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Semgrep
        run: semgrep scan --config auto --sarif --output semgrep.sarif

      - name: Upload report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep.sarif
  sca:
    runs-on: ubuntu-latest
    needs: build

    container:
      image: maven:3.9-eclipse-temurin-21

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Permission for mvnw
        run: chmod +x ./mvnw

      - name: OWASP
        run: ./mvnw org.owasp:dependency-check-maven:check -Dformat=HTML -DexcludesFile=dependency-check-exclude.xml

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: ./target/dependency-check-report.html

  dast_baseline:
    needs: build
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/zaproxy/zaproxy:latest
      options: --user root

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Java
        run: |
          apt-get update && apt-get install -y wget
          cd /opt
          wget https://download.java.net/java/GA/jdk21.0.2/f2283984656d49d69e91c558476027ac/13/GPL/openjdk-21.0.2_linux-x64_bin.tar.gz
          tar -xzf openjdk-21.0.2_linux-x64_bin.tar.gz
          export JAVA_HOME=/opt/jdk-21.0.2
          export PATH=$JAVA_HOME/bin:$PATH

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar

      - run: mkdir -p /zap/wrk/
      - run: /opt/jdk-21.0.2/bin/java -jar ./course-management-0.0.1-SNAPSHOT.jar & sleep 30
      - run: zap-baseline.py -t http://localhost:8080 -r report_site.html -I
      - run: cp /zap/wrk/report_site.html report_site.html

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: zap-base-report
          path: ./report_site.html

  dast_api:
    needs: build
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/zaproxy/zaproxy:latest
      options: --user root

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Java
        run: |
          apt-get update && apt-get install -y wget
          cd /opt
          wget https://download.java.net/java/GA/jdk21.0.2/f2283984656d49d69e91c558476027ac/13/GPL/openjdk-21.0.2_linux-x64_bin.tar.gz
          tar -xzf openjdk-21.0.2_linux-x64_bin.tar.gz
          export JAVA_HOME=/opt/jdk-21.0.2
          export PATH=$JAVA_HOME/bin:$PATH

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
      - run: mkdir -p /zap/wrk/
      - run: /opt/jdk-21.0.2/bin/java -jar ./course-management-0.0.1-SNAPSHOT.jar & sleep 30
      - run: zap-api-scan.py -t http://localhost:8080 -f openapi -r report_site.html -I
      - run: cp /zap/wrk/report_site.html report_site.html

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: zap-api-report
          path: ./report_site.html